name: Python application tests

on: [push]

jobs:
  flake8:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8.2
      uses: actions/setup-python@v1
      with:
        python-version: 3.8.2
    - name: Install dependencies
      run: pip install flake8
    - name: Lint with flake8
      run: flake8 .

  mypy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8.2
        uses: actions/setup-python@v1
        with:
          python-version: 3.8.2
      - name: Install dependencies
        run: pip install mypy
      - name: mypy check
        run: make mypy

  test:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8.2
        uses: actions/setup-python@v1
        with:
          python-version: 3.8.2
      - name: Install dependencies
        run: make pip.install
      - name: Config
        run: make config
      - name: Test with pytest
        run: make test
