name: tests

on: [push]

jobs:
  black:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8.2
      uses: actions/setup-python@v1
      with:
        python-version: 3.8.2
    - name: Install dependencies
      run: pip install black
    - name: Lint with black
      run: black --check .

  mypy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8.2
        uses: actions/setup-python@v1
        with:
          python-version: 3.8.2
      - name: Install dependencies
        run: pip install mypy
      - name: mypy check
        run: make mypy

  test_36:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.6
        uses: actions/setup-python@v1
        with:
          python-version: 3.6
      - name: Install dependencies
        run: make pip.install
      - name: Config
        run: make config
      - name: Test with pytest
        run: make test

  test_37:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install dependencies
        run: make pip.install
      - name: Config
        run: make config
      - name: Test with pytest
        run: make test

  test_38:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: make pip.install
      - name: Config
        run: make config
      - name: Test with pytest
        run: make test

  test_35:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.5
        uses: actions/setup-python@v1
        with:
          python-version: 3.5
      - name: Install dependencies
        run: make pip.install
      - name: Config
        run: make config
      - name: Test with pytest
        run: make test